<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>

        {% load static %}

        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
        <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
        <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'core/favicon.ico' %}" type="image/x-icon">
    </head>

    {% comment %}{{ request.path }} {% endcomment %}

    <!--
    /
    /signup/
    /login/
    /detail/
    -->

    <!--    CONTENIDO   -->

    {% block content %}
        {% comment %}{% if request.path == '/' or request.path == '/detail/' %}Hola!!!{% endif %}{% endcomment %}
        {% block header %}
        {% endblock %}  
    {% endblock %}           

</html>